
* {
   background-color: black;
 }
 #question {
   font-size: 24px;
   font-style: italic;
   color: white;
 }

 #choices {
   font size: 15px;
   font-style: normal;
   color: red;
 }
